RewriteEngine On

# Prevent the website from being embedded in any iframe
Header always set X-Frame-Options "DENY"

# Trasfer all uri into index.php for controlling
RewriteRule ^(.*)$ index.php [L,QSA]
