RewriteEngine On

# Nếu URL chứa 'database/database.php', chuyển tới tệp đó
RewriteRule ^database/database.php$ database/database.php [L]

# Nếu không, chuyển vào index.php
RewriteRule ^(.*)$ index.php [L,QSA]
